@layer theme, base, primereact, components, utilities;

@import "tailwindcss";
@import "primereact/resources/themes/lara-light-blue/theme.css" layer(primereact);

@theme {
  --color-gray-50: #f6f7f9;
  --color-gray-100: #eceef2;
  --color-gray-200: #d5d8e2;
  --color-gray-300: #b1b9c8;
  --color-gray-400: #8692aa;
  --color-gray-500: #677590;
  --color-gray-600: #525d77;
  --color-gray-700: #434c61;
  --color-gray-800: #3a4252;
  --color-gray-900: #343946;
  --color-gray-950: #22252e;
}
